.contacts
  margin-bottom: 55px
  &__list
    margin-bottom: 55px
    display: flex
    justify-content: space-between
  &__item
    display: flex
  &__icon-wrap
    height: 40px
    margin-right: 28px
  &__icon
    height: 100%
  &__info
    max-width: 260px
    text-transform: uppercase
    color: var(--c-main)
    font-size: 25px
    letter-spacing: 1px
    line-height: 30px
  &__bottom
    display: flex
  &__map
    margin-left: 25px
    border-radius: 50px
    box-shadow: 0px 10px 13.5px rgba(0,66,161,0.11)
  &__map-img
    width: 100%