.features
  margin-bottom: 65px
  &__list
    margin-bottom: 80px
    display: grid
    grid-template-columns: repeat(5, 1fr)
    column-gap: 35px
    grid-row-gap: 55px
    justify-items: center
    +media('1250px')
      grid-template-columns: repeat(4, 1fr)
    +media('1000px')
      grid-template-columns: repeat(3, 1fr)
    +media('730px')
      grid-template-columns: repeat(2, 1fr)
  &__item
    text-align: center
  &__item-icon-wrap
    background: var(--c-accent)
    width: 205px
    height: 205px
    border-radius: 30px
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 0px 10px 13.5px rgba(0,66,161,0.11)
    margin-bottom: 20px
  &__item-icon
    height: 125px
  &__item-title
    color: var(--c-main)
    font-size: 18px