.header 
  &__top
    padding: 9px 0
    color: #fff
    background-color: var(--c-main)
    .container
      display: flex
      justify-content: space-between
  &__info-strings
    display: flex
  &__info-string
    margin-right: 85px
    font-size: 18px
    &:last-child
      margin-right: 0
  &__bottom
    color: var(--c-main)
  &__caption-section
    display: flex
    align-items: center
    justify-content: space-between
  &__info-block-title
    margin-bottom: 5px
    font-size: 20px
    text-transform: uppercase 
  &__info-block-subtitle
    font-size: 18px
    font-weight: 100
  