.service-info
  text-align: center
  padding: 50px 0
  .container
    text-align: center
  .swiper-slide
    display: flex
    justify-content: center
  &__title
    color: var(--c-main)
    text-transform: uppercase
    font-size: 25px
    margin-bottom: 3px
  &__subtitle
    margin-bottom: 20px
    font-size: 23px
    line-height: 22px
    color: var(--c-main)
  &__desc
    display: inline-block
    margin-bottom: 40px
    max-width: 770px
    font-size: 23px
    line-height: 22px
    color: #484848
  &__steps
    margin-bottom: 50px
    position: relative
    +media('870px')
      padding-left: 20px
      padding-right: 20px
  &__step
    padding: 27px 20px 40px
    background: #006cd8
    border: 1px solid #dddddd
    color: #fff
    border-radius: 10px
    display: flex
    flex-direction: column
    align-items: center
    +media('600px')
      max-width: 355px
  &__step-number
    width: 98px
    height: 98px
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    font-size: 25px
    background: var(--c-accent)
    border-radius: 50%
    margin-bottom: 15px
  &__step-title
    margin-bottom: 30px
    font-size: 23px
  &__step-text
    max-width: 175px
    font-size: 15px
  &__text
    color: #373737
    font-size: 14px
    text-align: left
    line-height: 22px
  &__prev, &__next
    position: absolute
    top: 50%
    z-index: 1
    display: none
    +media('870px')
      display: block
  &__prev
    left: 0
    +media('600px')
      left: calc(50% - 200px) 
  &__next
    right: 0
    +media('600px')
      right: calc(50% - 200px) 

