.service-info
  text-align: center
  padding: 50px 0
  .container
    display: flex
    flex-direction: column
    align-items: center
  &__title
    color: var(--c-main)
    text-transform: uppercase
    font-size: 25px
    margin-bottom: 3px
  &__subtitle
    margin-bottom: 20px
    font-size: 23px
    line-height: 22px
    color: var(--c-main)
  &__desc
    margin-bottom: 40px
    max-width: 770px
    font-size: 23px
    line-height: 22px
    color: #484848
  &__steps
    margin-bottom: 50px
    display: grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: 30px
  &__step
    padding: 27px 20px 40px
    background: #006cd8
    border: 1px solid #dddddd
    color: #fff
    border-radius: 10px
    display: flex
    flex-direction: column
    align-items: center
  &__step-number
    width: 98px
    height: 98px
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    font-size: 25px
    background: var(--c-accent)
    border-radius: 50%
    margin-bottom: 15px
  &__step-title
    margin-bottom: 30px
    font-size: 23px
  &__step-text
    max-width: 175px
    font-size: 15px
  &__text
    color: #373737
    font-size: 14px
    text-align: left
    line-height: 22px